#root {
  --border: black;
  --background: white;
  --black-back: black;
  --red-back: red;
  --label-black: black;
  --label-red: red;
  --face-border: #44f;
  --accent: #44f;
  --lines: black;
  --hat: red;
  --hair: #fc4;
  --ace-qr: white;
  --ace-center: black;
  --king-clothes: #44f;
  --joker-hat: red;
  --joker-face: #fc4;
  --joker-eyes: #44f;
}

.card {
  --width: 8rem;
  height: calc(var(--width) * 1.4);
  width: var(--width);
}

.card-wrapper {
  z-index: 0;
  transition: 0.2s;
}

.card-wrapper.interactable:hover svg {
  box-shadow: white 0 0 50px 20px;
}

.card-wrapper.interactable:hover ~ .card-wrapper {
  z-index: 1;
  transition: 0.2s ease-in-out;
}

.card-wrapper.selected {
  transform: translateY(-40px);
  transition: 0.2s;
}

.card-wrapper.small .card {
  --width: 2rem;
}

.draw-pile .card-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-black {
  fill: var(--black-back);
}

.back-red {
  fill: var(--red-back);
}

.rect {
  fill: var(--background);
  stroke: var(--border);
}

.label-value-black {
  stroke: var(--label-black);
}

.label-suit-black {
  fill: var(--label-black);
}

.label-value-red {
  stroke: var(--label-red);
}

.label-suit-red {
  fill: var(--label-red);
}

.face-border-internal {
  stroke: var(--face-border);
}

.accent {
  stroke: var(--accent);
}

.lines {
  fill: var(--lines);
}

.hat {
  fill: var(--hat);
}

.hair {
  fill: var(--hair);
}

.king-clothes {
  fill: var(--king-clothes);
}

.ace-qr {
  fill: var(--ace-qr);
}

.ace-dotted {
  stroke: var(--ace-center);
}

.ace-inner {
  stroke: var(--background);
}

.ace-center {
  fill: var(--ace-center);
}

.joker-outline {
  stroke: var(--face-border);
}

.joker-hat {
  fill: var(--joker-hat);
}

.joker-face {
  fill: var(--joker-face);
}

.joker-eyes {
  fill: var(--joker-eyes);
}
