#lobby-left {
  color: black;
  width: 80vw;
}

#lobby-right {
  color: black;
  width: 20vw;
  border-left: 2px solid black;
}

.start-button {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 6px;
  width: fit-content;
  padding: 0 8px;
}
